<p>Credits</p>
<p>Special thanks! to below projects.</p>
<table class="table">
  <thead>
    <tr>
      <th>Tool</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CAPX</td>
      <td>https://www.fhwa.dot.gov/software/research/operations/cap-x/</td>
    </tr>
    <tr>
      <td>Angular</td>
      <td>https://angular.io/</td>
    </tr>
    <tr>
      <td>Clarity</td>
      <td>https://clarity.design/</td>
    </tr>
    <tr>
      <td>Angular Flex Layout</td>
      <td>https://github.com/angular/flex-layout</td>
    </tr>
    <tr>
      <td>MathJs</td>
      <td>https://mathjs.org/</td>
    </tr>
    <tr>
      <td>rxjs</td>
      <td>https://rxjs-dev.firebaseapp.com/</td>
    </tr>
    <tr>
      <td>Typescript</td>
      <td>https://www.typescriptlang.org/</td>
    </tr>
    <tr>
      <td>@jefiozie/ngx-aws-deploy</td>
      <td>https://github.com/Jefiozie/ngx-aws-deploy#readme</td>
    </tr>
    <tr>
      <td>Adobe Illustrator</td>
      <td>https://www.adobe.com/products/illustrator.html</td>
    </tr>
  </tbody>
</table>
