<p>Credits</p>
<p>Special thanks! to below projects.</p>
<table class="table">
  <thead>
    <tr>
      <th>Tool</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CAPX</td>
      <td><a href="https://www.fhwa.dot.gov/software/research/operations/cap-x/">https://www.fhwa.dot.gov/software/research/operations/cap-x/</a></td>
    </tr>
    <tr>
      <td>Angular</td>
      <td><a href="https://angular.io/">https://angular.io/</a></td>
    </tr>
    <tr>
      <td>Clarity Design System</td>
      <td><a href="https://clarity.design/">https://clarity.design/</a></td>
    </tr>
    <tr>
      <td>Angular Flex Layout</td>
      <td><a href="https://github.com/angular/flex-layout">https://github.com/angular/flex-layout</a></td>
    </tr>
    <tr>
      <td>MathJs</td>
      <td><a href="https://github.com/angular/flex-layout">https://mathjs.org/</a></td>
    </tr>
    <tr>
      <td>rxjs</td>
      <td><a href="https://rxjs-dev.firebaseapp.com/">https://rxjs-dev.firebaseapp.com/</a></td>
    </tr>
    <tr>
      <td>Typescript</td>
      <td><a href="https://www.typescriptlang.org/">https://www.typescriptlang.org/</a></td>
    </tr>
    <tr>
      <td>@jefiozie/ngx-aws-deploy</td>
      <td><a href="https://github.com/Jefiozie/ngx-aws-deploy#readme">https://github.com/Jefiozie/ngx-aws-deploy#readme</a></td>
    </tr>
    <tr>
      <td>Adobe Illustrator</td>
      <td><a href="https://www.adobe.com/products/illustrator.html">https://www.adobe.com/products/illustrator.html</a></td>
    </tr>
  </tbody>
</table>
