<capx-critical-lane-volume-sum></capx-critical-lane-volume-sum>

<div fxLayout="column" fxLayoutAlign="space-around stretch">
  <div>
    <clr-icon shape="angle left"></clr-icon>
    <a [routerLink]="['/results']" class="p3 back-to-results-text">Back to Results</a>
    <span class="p2" style="margin-left: 25px;">median-uturn-intersection-east-west-junction</span>
  </div>
  <clr-tabs>
    <clr-tab>
      <button clrTabLink>Design</button>
      <clr-tab-content>
        <div class="junction-content centered-parent">
          <capx-full-displaced-left-turn-intersection-design class="centered-child"></capx-full-displaced-left-turn-intersection-design>
        </div>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Configuration</button>
      <clr-tab-content>
        Configuration
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
