<div class="px12 py12 round-t"><div class="w240 round shadow-darken10 px12 py12 txt-s">
  <strong class="block mb6">Critical Lane Volume Sum</strong>
  <div class="grid mb6">
    <div class="col bg-green-faint h12"></div>
    <div class="col bg-green-light h12" style="background-color: yellow;"></div>
    <div class="col bg-green h12" style="background-color: orange;"></div>
    <div class="col bg-green-dark h12" style="background-color: red;"></div>
  </div>
  <div class="grid txt-xs">
    <div class="col align-center">{{(capxStateService.clv_range_text$ | async)!.get(1)}}</div>
    <div class="col align-center">{{(capxStateService.clv_range_text$ | async)!.get(2)}}</div>
    <div class="col align-center">{{(capxStateService.clv_range_text$ | async)!.get(3)}}</div>
    <div class="col align-center">{{(capxStateService.clv_range_text$ | async)!.get(4)}}</div>
  </div>
  <span class="block mb6" style="text-align: center;margin-top: 5px;">V/C: <span [ngStyle]="{'color': vc_color}">{{vc}}</span></span>
</div></div>
