<capx-svg-viewer>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <clipPath id="clip-path" transform="translate(-7.39 -18.06)">
      <rect x="99.49" y="75" width="709.02" height="755" style="fill: none"/>
    </clipPath>
  </defs>
  <g id="Layer_1" data-name="Layer 1">
    <g style="clip-path: url(#clip-path)">
      <image width="1650" height="1757" transform="translate(801.11 811.95) rotate(-180) scale(0.43)" xlink:href="assets/junctions/quadrant-roadway-intersection-north-west.jpeg"/>
    </g>
  </g>
  <g id="drawings">
    <circle cx="221.91" cy="161.63" r="12" style="fill: #fcee21"/>
    <line x1="126.5" y1="71.57" x2="221.91" y2="161.63" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
    <circle cx="233.47" cy="672.98" r="12" style="fill: #fcee21"/>
    <line x1="149.65" y1="686.72" x2="233.47" y2="672.98" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
    <circle cx="705.14" cy="183.8" r="12" style="fill: #fcee21"/>
    <line x1="693.65" y1="110.31" x2="705.14" y2="183.8" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
  </g>
  <g id="dynamic_layer">
    <g id="zone2">
      <rect x="23.65" y="648.22" width="126" height="38.5" style="fill: #faaf40;stroke: #231f20;stroke-miterlimit: 10"/>
      <text transform="translate(57.05 675.96) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">662</text>
      <rect x="23.65" y="686.72" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
      <rect x="23.65" y="686.72" width="63" height="38.5" style="fill: #00adee;stroke: #231f20;stroke-miterlimit: 10"/>
      <text transform="translate(36.9 712.59) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">0.41</text>
      <text transform="translate(95.91 712.8) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
      <text transform="translate(48.67 635.72)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 2</text>
    </g>
    <g id="zone5">
      <rect x="0.5" y="33.07" width="126" height="38.5" style="fill: #faaf40;stroke: #231f20;stroke-miterlimit: 10"/>
      <text transform="translate(33.9 60.8) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">662</text>
      <rect x="0.5" y="71.57" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
      <rect x="0.5" y="71.57" width="63" height="38.5" style="fill: #00adee;stroke: #231f20;stroke-miterlimit: 10"/>
      <text transform="translate(13.76 97.43) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">0.41</text>
      <text transform="translate(72.76 97.64) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
      <text transform="translate(25.52 20.57)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 5</text>
    </g>
    <g id="zone3">
      <rect x="630.65" y="33.31" width="126" height="38.5" style="fill: #faaf40;stroke: #231f20;stroke-miterlimit: 10"/>
      <text transform="translate(664.05 61.04) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">662</text>
      <rect x="630.65" y="71.81" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
      <rect x="630.65" y="71.81" width="63" height="38.5" style="fill: #00adee;stroke: #231f20;stroke-miterlimit: 10"/>
      <text transform="translate(643.9 97.67) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">0.41</text>
      <text transform="translate(702.91 97.88) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
      <text transform="translate(655.67 20.81)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 3</text>
    </g>
  </g>
</svg>

</capx-svg-viewer>
