<capx-svg-viewer>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Layer_1" data-name="Layer 1">
      <image width="509" height="1727" transform="translate(106.69) scale(0.38 0.38)" xlink:href="assets/junctions/restricted-crossing-uturn-intersection-north-south.jpeg"/>
    </g>
    <g id="drawings">
      <circle cx="182.76" cy="378.81" r="12" style="fill: #fcee21"/>
      <line x1="126.5" y1="458.81" x2="183.76" y2="378.81" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
      <circle cx="231.33" cy="321.15" r="12" style="fill: #fcee21"/>
      <line x1="282.5" y1="277.4" x2="231.33" y2="321.15" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
      <circle cx="231.04" cy="640.08" r="12" style="fill: #fcee21"/>
      <line x1="288.5" y1="612.9" x2="232.04" y2="640.08" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
      <circle cx="180.39" cy="22.79" r="12" style="fill: #fcee21"/>
      <line x1="281.5" y1="80.9" x2="180.39" y2="22.79" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
    </g>
    <g id="dynamic_layer">
      <g id="zone3">
        <rect x="282.5" y="200.4" width="126" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone3_east_clv)"/>
        <text transform="translate(315.9 228.13) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone3_east_clv}}</text>
        <rect x="282.5" y="238.9" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
        <rect x="282.5" y="238.9" width="63" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone3_east_clv)"/>
        <text transform="translate(295.76 264.76) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone3_east_vc}}</text>
        <text transform="translate(354.76 264.97) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
        <text transform="translate(307.52 187.9)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 3</text>
      </g>
      <g id="zone4">
        <rect x="0.5" y="420.31" width="126" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone4_west_clv)"/>
        <text transform="translate(33.9 448.04) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone4_west_clv}}</text>
        <rect x="0.5" y="458.81" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
        <rect x="0.5" y="458.81" width="63" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone4_west_clv)"/>
        <text transform="translate(13.76 484.67) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone4_west_vc}}</text>
        <text transform="translate(72.76 484.88) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
        <text transform="translate(25.52 407.81)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 4</text>
      </g>
      <g id="zone2">
        <rect x="288.5" y="574.4" width="126" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone2_south_clv)"/>
        <text transform="translate(321.9 602.13) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone2_south_clv}}</text>
        <rect x="288.5" y="612.9" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
        <rect x="288.5" y="612.9" width="63" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone2_south_clv)"/>
        <text transform="translate(301.76 638.76) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone2_south_vc}}</text>
        <text transform="translate(360.76 638.97) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
        <text transform="translate(313.52 561.9)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 2</text>
      </g>
      <g id="zone1">
        <rect x="281.5" y="42.4" width="126" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone1_north_clv)"/>
        <text transform="translate(314.9 70.13) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone1_north_clv}}</text>
        <rect x="281.5" y="80.9" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
        <rect x="281.5" y="80.9" width="63" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone1_north_clv)"/>
        <text transform="translate(294.76 106.76) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.RestrictedCrossingUTurnIntersectionNorthSouth).intersectionResult | async).zone1_north_vc}}</text>
        <text transform="translate(353.76 106.97) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
        <text transform="translate(306.52 29.9)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 1</text>
      </g>
    </g>
  </svg>
</capx-svg-viewer>
