
.clr-vertical-nav {
  width: 15rem;
}

table {
  border-collapse: collapse;
  &.no-border {
    & > tr {
      border: 0;

      & > td {
        border: 0;
        padding: 0;
      }
    }
  }
  tr {
    border: 1px solid black;

    td {
      border: 1px solid black;
      text-align: center;
      padding: 2px;

      &.editable{
        background-color: yellow;
      }

      &.suggestion{
        background-color: orange;
      }

      &.title {
        background-color: #002060;
        color: #fff;
      }

      &.column {
        background-color: #C5D9F1;
      }

      &.readonly {
        background-color: #DCE6F1;
      }

      img {
        width: 20px;
        height: 20px;
      }

      input {
        text-align: center;
        max-width: 55px;
        border: 0px;
        background-color: transparent;

        &.text-right {
          text-align: right;
        }
      }

      .west-rotation{
        transform: rotate(90deg);
      }

      .east-rotation{
        transform: rotate(90deg);
      }
    }
  }
}

.junction-content{
  width: 100%;
  height: calc(100vh - 10rem);
}

.centered-parent {
  display: grid;
}

.centered-child {
  display: block;
  margin: auto;
}


table.small-content-tbl {
  width: max-content;
  margin: auto;

  td {
    padding: 5px;
  }
}
