.clr-vertical-nav {
  width: 15rem;
}

.nav {
  &:focus {
    outline: 0;
  }
  .nav-item:focus {
    outline: 0;
  }
}

button:focus {
  outline: 0;
}


// scrollbar
/* The emerging W3C standard
   that is currently Firefox-only */
   * {
    scrollbar-width: thin;
    scrollbar-color: #666 hsl(198, 0%, 80%);
  }

  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }
  *::-webkit-scrollbar-track {
    background: hsl(198, 0%, 80%);
  }
  *::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
    border: 3px solid hsl(198, 0%, 80%);
  }


table {
  border-collapse: collapse;

  &.config-table {
    & > tr {
      border: 0.05rem solid #e8e8e8;
      border-color: var(--clr-tablerow-bordercolor, #e8e8e8);
      border-width: var(--clr-table-borderwidth, 0.05rem);

      & > td {
        border: 0.05rem solid #e8e8e8;
        border-color: var(--clr-tablerow-bordercolor, #e8e8e8);
        border-width: var(--clr-table-borderwidth, 0.05rem);
      }
    }
  }

  &.no-border {
    & > tr {
      border: 0;

      & > td {
        border: 0;
        padding: 0;
      }
    }
  }
  tr {
    td {
      text-align: center;
      padding: 2px;
      border: 0.05rem solid #e8e8e8;
      border-color: var(--clr-tablerow-bordercolor, #e8e8e8);
      border-width: var(--clr-table-borderwidth, 0.05rem);

      &.editable {
        background-color: hsl(198, 83%, 94%);
      }

      &.suggestion {
        //background-color: hsl(198, 0%, 87%);
      }

      &.title {
        color: #666;
        color: var(--clr-p2-color, #666);
        font-weight: 500;
        font-weight: var(--clr-p2-font-weight, 500);
        font-size: 0.65rem;
        letter-spacing: normal;
        line-height: 1.2rem;
        margin-top: 1.2rem;
        margin-bottom: 0;
      }

      &.column {
        color: #666;
        color: var(--clr-thead-color, #666);
        font-size: 0.55rem;
        font-weight: 600;
        letter-spacing: 0.03em;
        background-color: #fafafa;
        background-color: var(--clr-thead-bgcolor, #fafafa);
        vertical-align: bottom;
        border-bottom: 0.05rem solid #ccc;
        border-bottom-color: var(--clr-table-border-color, #ccc);
        border-bottom-width: var(--clr-table-borderwidth, 0.05rem);
      }

      &.empty-cell {
        background-color: #cccccc;
      }

      &.zone-cell {
        background-color: #fff;
      }

      &.readonly {
        //background-color: hsl(198, 0%, 87%);
      }

      img {
        width: 40px;
        height: 40px;
      }

      input {
        text-align: center;
        max-width: 55px;
        border: 0px;
        background-color: transparent;

        color: #000;
        color: var(--clr-forms-text-color, #000);

        &.text-right {
          text-align: right;
        }
      }

      .west-rotation {
        transform: rotate(90deg);
      }

      .east-rotation {
        transform: rotate(90deg);
      }
    }
  }
}

.junction-content {
  width: 100%;
  height: calc(100vh - 10rem);
}

.centered-parent {
  display: grid;
}

.centered-child {
  display: block;
  margin: auto;
}

table.small-content-tbl {
  width: max-content;
  margin: auto;

  td {
    padding: 5px;
  }
}


.back-to-results-text {
  padding-right: 5px;
}

.rank-text {
  width: 25px;
  display: block;
}

capx-svg-viewer {
  svg {
    width: 100%;
    height:100%
  }
}
