/* You can add global styles to this file, and also import other style files */
table {
  border-collapse: collapse;
  &.no-border {
    & > tr {
      border: 0;

      & > td {
        border: 0;
        padding: 0;
      }
    }
  }
  tr {
    border: 1px solid black;

    td {
      border: 1px solid black;
      text-align: center;
      padding: 5px;

      input {
        text-align: center;
        max-width: 46px;
        border: 0px;

        &.text-right {
          text-align: right;
        }
      }

      .west-rotation{
        transform: rotate(90deg);
      }

      .east-rotation{
        transform: rotate(90deg);
      }
    }
  }
}
