<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  <table class="no-border centered-child" [formGroup]="form" fxFlexOffset="10px">
    <tr>
      <td>
        <table>
          <tr>
            <td><img src="assets/capx/south-right-turn.png" /></td>
            <td><img src="assets/capx/south-thru.png" /></td>
            <td><img src="assets/capx/south-left-turn.png" /></td>
            <td><img src="assets/capx/south-u-turn.png" /></td>
          </tr>
          <tr>
            <td class="readonly pepch"><div>PEPCH <br/> {{(capxStateService.masterParameters$ | async)!.south_bound_right}}</div></td>
            <td class="readonly pepch"><div>PEPCH <br/> {{(capxStateService.masterParameters$ | async)!.south_bound_thru}}</div></td>
            <td class="readonly pepch"><div>PEPCH <br/> {{(capxStateService.masterParameters$ | async)!.south_bound_left}}</div></td>
            <td class="readonly pepch"><div>PEPCH <br/> {{(capxStateService.masterParameters$ | async)!.south_bound_u}}</div></td>
          </tr>
          <tr>
            <td class="editable"><div><input type="number" min="0"  max="9" value="1" formControlName="south_bound_right"></div></td>
            <td class="editable"><div><input type="number" min="0"  max="9" value="1" formControlName="south_bound_thru"></div></td>
            <td class="editable"><div><input type="number" value="0" formControlName="south_bound_left"></div></td>
            <td class="empty-cell"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="border: 0.05rem solid #e8e8e8;">
        <div>
          <table style="margin: 0 auto;">
            <tr>
              <td class="zone-cell">Zone 1</td>
            </tr>
            <tr>
              <td [ngStyle]="{'color': 'black', 'background-color': (capxStateService.getClvRangeColor((capxStateService.state.get(junctions.PartialDisplacedLeftTurnIntersectionNorthSouth).intersectionResult | async).zone1_north_clv))}">{{(capxStateService.state.get(junctions.PartialDisplacedLeftTurnIntersectionNorthSouth).intersectionResult | async).zone1_north_clv}}</td>
            </tr>
          </table>
        </div>

      </td>
      <td style="padding: 20px 0;">
        <table>
          <tr>
            <td class="readonly">{{form.get('north_bound_thru').value}}</td>
          </tr>
          <tr>
            <td class="readonly pepch">{{(capxStateService.masterParameters$ | async)!.east_bound_left + (capxStateService.masterParameters$ | async)!.north_bound_thru}} <br/> PEPCH</td>
          </tr>
          <tr>
            <td><img src="assets/capx/north-thru.png" /></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <table class="no-border centered-child" [formGroup]="form">
    <tr>
      <td>

        <div>
          <table class="config-table">
            <tr>
              <td><img src="assets/capx/east-u-turn.png" /></td>
              <td class="readonly pepch"><div class="east-rotation">{{(capxStateService.masterParameters$ | async)!.east_bound_u}} <br/> PEPCH</div></td>
              <td class="empty-cell"></td>
            </tr>
            <tr>
              <td><img src="assets/capx/east-left-turn.png" /></td>
              <td class="readonly pepch"><div class="east-rotation">{{(capxStateService.masterParameters$ | async)!.east_bound_left}} <br/> PEPCH</div></td>
              <td class="editable"><div class="east-rotation"><input type="number" min="0"  max="9" value="1" formControlName="east_bound_left"></div></td>
            </tr>

            <tr>
              <td><img src="assets/capx/east-thru.png" /></td>
              <td class="readonly pepch"><div class="east-rotation">{{(capxStateService.masterParameters$ | async)!.east_bound_thru}} <br/> PEPCH</div></td>
              <td class="editable"><div class="east-rotation"><input type="number" min="0"  max="9" value="1" formControlName="east_bound_thru"></div></td>
            </tr>

            <tr>
              <td><img src="assets/capx/east-right-turn.png" /></td>
              <td class="readonly pepch"><div class="east-rotation">{{(capxStateService.masterParameters$ | async)!.east_bound_right}} <br/> PEPCH</div></td>
              <td class="editable"><div class="east-rotation"><input type="number" min="0"  max="9" value="1" formControlName="east_bound_right"></div></td>
            </tr>
          </table>
        </div>


      </td>
      <td style="width: 210px;border: 0.05rem solid #e8e8e8;">

        <div>
          <table style="margin: 0 auto;">
            <tr>
              <td class="zone-cell">Zone 5</td>
            </tr>
            <tr>
              <td [ngStyle]="{'color': 'black', 'background-color': (capxStateService.getClvRangeColor((capxStateService.state.get(junctions.PartialDisplacedLeftTurnIntersectionNorthSouth).intersectionResult | async).zone5_center_clv))}">{{(capxStateService.state.get(junctions.PartialDisplacedLeftTurnIntersectionNorthSouth).intersectionResult | async).zone5_center_clv}}</td>
            </tr>
          </table>
        </div>

      </td>
      <td>
        <div>
          <table>
            <tr>
              <td class="editable"><div class="west-rotation"><input type="number" min="0"  max="9" value="1" formControlName="west_bound_right"></div></td>
              <td class="readonly pepch"><div class="west-rotation">PEPCH <br/> {{(capxStateService.masterParameters$ | async)!.west_bound_right}}</div></td>
              <td><img src="assets/capx/west-right-turn.png" /></td>
            </tr>
            <tr>
              <td class="editable"><div class="west-rotation"><input type="number" min="0"  max="9" value="1" formControlName="west_bound_thru"></div></td>
              <td class="readonly pepch"><div class="west-rotation">PEPCH <br/> {{(capxStateService.masterParameters$ | async)!.west_bound_thru}}</div></td>
              <td><img src="assets/capx/west-thru.png" /></td>
            </tr>

            <tr>
              <td class="editable"><div class="west-rotation"><input type="number" min="0"  max="9" value="1" formControlName="west_bound_left"></div></td>
              <td class="readonly pepch"><div class="west-rotation">PEPCH <br/> {{(capxStateService.masterParameters$ | async)!.west_bound_left}}</div></td>
              <td><img src="assets/capx/west-left-turn.png" /></td>
            </tr>

            <tr>
              <td class="empty-cell"></td>
              <td class="readonly pepch"><div class="west-rotation">PEPCH <br/> {{(capxStateService.masterParameters$ | async)!.west_bound_u}}</div></td>
              <td><img src="assets/capx/west-u-turn.png" /></td>
            </tr>
          </table>
        </div>


      </td>
    </tr>
  </table>


  <table class="no-border centered-child" [formGroup]="form">
    <tr>
      <td style="padding: 20px 0;">
        <table>
          <tr>
            <td><img src="assets/capx/south-thru.png" /></td>
          </tr>
          <tr>
            <td class="readonly pepch"><div>PEPCH <br/> {{(capxStateService.masterParameters$ | async)!.south_bound_thru + (capxStateService.masterParameters$ | async)!.west_bound_left}}</div></td>
          </tr>
          <tr>
            <td class="readonly"><div>{{form.get('south_bound_thru').value}}</div></td>
          </tr>
        </table>
      </td>
      <td style="border: 0.05rem solid #e8e8e8;">

        <div>
          <table style="margin: 0 auto;">
            <tr>
              <td class="zone-cell">Zone 2</td>
            </tr>
            <tr>
              <td [ngStyle]="{'color': 'black', 'background-color': (capxStateService.getClvRangeColor((capxStateService.state.get(junctions.PartialDisplacedLeftTurnIntersectionNorthSouth).intersectionResult | async).zone2_south_clv))}">{{(capxStateService.state.get(junctions.PartialDisplacedLeftTurnIntersectionNorthSouth).intersectionResult | async).zone2_south_clv}}</td>
            </tr>
          </table>
        </div>

      </td>
    </tr>
    <tr>
      <td></td>
      <td>

        <table>
          <tr>
            <td class="empty-cell"></td>
            <td class="editable"><input type="number" min="0"  max="9" value="1" formControlName="north_bound_left"></td>
            <td class="editable"><input type="number" value="0" formControlName="north_bound_thru"></td>
            <td class="editable"><input type="number" min="0"  max="9" value="1" formControlName="north_bound_right"></td>
          </tr>
          <tr>
            <td class="readonly pepch">{{(capxStateService.masterParameters$ | async)!.north_bound_u}} <br/> PEPCH</td>
            <td class="readonly pepch">{{(capxStateService.masterParameters$ | async)!.north_bound_left}} <br/> PEPCH</td>
            <td class="readonly pepch">{{(capxStateService.masterParameters$ | async)!.north_bound_thru}} <br/> PEPCH</td>
            <td class="readonly pepch">{{(capxStateService.masterParameters$ | async)!.north_bound_right}} <br/> PEPCH</td>
          </tr>
          <tr>
            <td><img src="assets/capx/north-u-turn.png" /></td>
            <td><img src="assets/capx/north-left-turn.png" /></td>
            <td><img src="assets/capx/north-thru.png" /></td>
            <td><img src="assets/capx/north-right-turn.png" /></td>
          </tr>
        </table>


      </td>
    </tr>
  </table>
</div>
