<table>
  <tr>
    <td colspan="7" style="text-align: center;">Traffic Volume Demand</td>
  </tr>
  <tr>
    <td rowspan="2"></td>
    <td colspan="4" style="text-align: center;">Volume (Veh/hr)</td>
    <td colspan="2" style="text-align: center;">Percent (%)</td>
  </tr>
  <tr>
    <td style="text-align: center;">U-Turn <br/> <img src="assets/capx/south-u-turn.png" /></td>
    <td style="text-align: center;">Left <br/> <img src="assets/capx/south-left-turn.png" /></td>
    <td style="text-align: center;">Thru <br/> <img src="assets/capx/south-thru.png" /></td>
    <td style="text-align: center;">Right <br/> <img src="assets/capx/south-right-turn.png" /></td>
    <td style="text-align: center;">Truck</td>
    <td style="text-align: center;">Volume Growth</td>
  </tr>
  <tr>
    <td style="text-align: center;">Eastbound</td>
    <td style="text-align: center;"><input type="text" value="0"></td>
    <td style="text-align: center;"><input type="text" value="630"></td>
    <td style="text-align: center;"><input type="text" value="0"></td>
    <td style="text-align: center;"><input type="text" value="0"></td>
    <td style="text-align: center;"><input type="text" value="0.00" class="text-right">%</td>
    <td style="text-align: center;"><input type="text" value="0.00" class="text-right">%</td>
  </tr>
  <tr>
    <td style="text-align: center;">Westbound</td>
    <td style="text-align: center;"><input type="text" value="0"></td>
    <td style="text-align: center;"><input type="text" value="173"></td>
    <td style="text-align: center;"><input type="text" value="0"></td>
    <td style="text-align: center;"><input type="text" value="0"></td>
    <td style="text-align: center;"><input type="text" value="0.00" class="text-right">%</td>
    <td style="text-align: center;"><input type="text" value="0.00" class="text-right">%</td>
  </tr>
  <tr>
    <td style="text-align: center;">Southbound</td>
    <td style="text-align: center;"><input type="text" value="0"></td>
    <td style="text-align: center;"><input type="text" value="225"></td>
    <td style="text-align: center;"><input type="text" value="1220"></td>
    <td style="text-align: center;"><input type="text" value="730"></td>
    <td style="text-align: center;"><input type="text" value="0.00" class="text-right">%</td>
    <td style="text-align: center;"><input type="text" value="0.00" class="text-right">%</td>
  </tr>
  <tr>
    <td style="text-align: center;">Northbound</td>
    <td style="text-align: center;"><input type="text" value="0"></td>
    <td style="text-align: center;"><input type="text" value="420"></td>
    <td style="text-align: center;"><input type="text" value="1645"></td>
    <td style="text-align: center;"><input type="text" value="350"></td>
    <td style="text-align: center;"><input type="text" value="0.00" class="text-right">%</td>
    <td style="text-align: center;"><input type="text" value="0.00" class="text-right">%</td>
  </tr>
  <tr>
    <td style="text-align: center;">Adjustment Factor</td>
    <td style="text-align: center;"><input type="text" value="0.80"></td>
    <td style="text-align: center;"><input type="text" value="0.95"></td>
    <td>-</td>
    <td style="text-align: center;"><input type="text" value="0.85"></td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td style="text-align: center;">Suggested</td>
    <td style="text-align: center;">0.80</td>
    <td style="text-align: center;">0.95</td>
    <td>-</td>
    <td style="text-align: center;">0.85</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td colspan="4" style="text-align: center;">Truck to PCE Factor</td>
    <td colspan="2" style="text-align: center;">Suggested = 2.00</td>
    <td style="text-align: center;"><input type="text" value="2.00"></td>
  </tr>
  <tr>
    <td colspan="4" style="text-align: center;">Critical Lane Volume</td>
    <td colspan="3" style="text-align: center;"><input type="text" value="1600"></td>
  </tr>
</table>

<br/>
<table>
  <tr>
    <td colspan="5" style="text-align: center;">Equivalent Pasenger Car Volume</td>
  </tr>
  <tr>
    <td rowspan="2"></td>
    <td colspan="4" style="text-align: center;">Volume (Veh/hr)</td>
  </tr>
  <tr>
    <td style="text-align: center;">U-Turn <br/> <img src="assets/capx/south-u-turn.png" /></td>
    <td style="text-align: center;">Left <br/> <img src="assets/capx/south-left-turn.png" /></td>
    <td style="text-align: center;">Thru <br/> <img src="assets/capx/south-thru.png" /></td>
    <td style="text-align: center;">Right <br/> <img src="assets/capx/south-right-turn.png" /></td>
  </tr>
  <tr>
    <td style="text-align: center;">Eastbound</td>
    <td style="text-align: center;">0</td>
    <td style="text-align: center;">630</td>
    <td style="text-align: center;">0</td>
    <td style="text-align: center;">0</td>
  </tr>
  <tr>
    <td style="text-align: center;">Westbound</td>
    <td style="text-align: center;">0</td>
    <td style="text-align: center;">173</td>
    <td style="text-align: center;">0</td>
    <td style="text-align: center;">0</td>
  </tr>
  <tr>
    <td style="text-align: center;">Southbound</td>
    <td style="text-align: center;">0</td>
    <td style="text-align: center;">225</td>
    <td style="text-align: center;">1220</td>
    <td style="text-align: center;">730</td>
  </tr>
  <tr>
    <td style="text-align: center;">Northbound</td>
    <td style="text-align: center;">0</td>
    <td style="text-align: center;">420</td>
    <td style="text-align: center;">1645</td>
    <td style="text-align: center;">350</td>
  </tr>
</table>


