<div fxLayout="row" fxLayoutAlign="space-evenly center">

  <table [formGroup]="form">
    <tr>
      <td colspan="7">Traffic Volume Demand</td>
    </tr>
    <tr>
      <td rowspan="2"></td>
      <td colspan="4">Volume (Veh/hr)</td>
      <td colspan="2">Percent (%)</td>
    </tr>
    <tr>
      <td>U-Turn <br /> <img src="assets/capx/south-u-turn.png" /></td>
      <td>Left <br /> <img src="assets/capx/south-left-turn.png" /></td>
      <td>Thru <br /> <img src="assets/capx/south-thru.png" /></td>
      <td>Right <br /> <img src="assets/capx/south-right-turn.png" /></td>
      <td>Truck</td>
      <td>Volume Growth</td>
    </tr>
    <tr>
      <td>Eastbound</td>
      <td class="editable"><input type="number" value="0" formControlName="east_bound_u"></td>
      <td class="editable"><input type="number" value="630" formControlName="east_bound_left"></td>
      <td class="editable"><input type="number" value="0" formControlName="east_bound_thru"></td>
      <td class="editable"><input type="number" value="0" formControlName="east_bound_right"></td>
      <td class="editable"><input type="number" value="0.00" class="text-right" formControlName="east_bound_truck_percent"
          placeholder="0.00" step="0.01">%</td>
      <td class="editable"><input type="number" value="0.00" class="text-right" formControlName="east_bound_growth_factor"
          placeholder='0.00' step="0.01">%</td>
    </tr>
    <tr>
      <td>Westbound</td>
      <td class="editable"><input type="number" value="0" formControlName="west_bound_u"></td>
      <td class="editable"><input type="number" value="173" formControlName="west_bound_left"></td>
      <td class="editable"><input type="number" value="0" formControlName="west_bound_thru"></td>
      <td class="editable"><input type="number" value="0" formControlName="west_bound_right"></td>
      <td class="editable"><input type="number" value="0.00" class="text-right" formControlName="west_bound_truck_percent"
          placeholder='0.00' step="0.01">%</td>
      <td class="editable"><input type="number" value="0.00" class="text-right" formControlName="west_bound_growth_factor"
          placeholder='0.00' step="0.01">%</td>
    </tr>
    <tr>
      <td>Southbound</td>
      <td class="editable"><input type="number" value="0" formControlName="south_bound_u"></td>
      <td class="editable"><input type="number" value="225" formControlName="south_bound_left"></td>
      <td class="editable"><input type="number" value="1220" formControlName="south_bound_thru"></td>
      <td class="editable"><input type="number" value="730" formControlName="south_bound_right"></td>
      <td class="editable"><input type="number" value="0.00" class="text-right" formControlName="south_bound_truck_percent"
          placeholder='0.00' step="0.01">%</td>
      <td class="editable"><input type="number" value="0.00" class="text-right" formControlName="south_bound_growth_factor"
          placeholder='0.00' step="0.01">%</td>
    </tr>
    <tr>
      <td>Northbound</td>
      <td class="editable"><input type="number" value="0" formControlName="north_bound_u"></td>
      <td class="editable"><input type="number" value="420" formControlName="north_bound_left"></td>
      <td class="editable"><input type="number" value="1645" formControlName="north_bound_thru"></td>
      <td class="editable"><input type="number" value="350" formControlName="north_bound_right"></td>
      <td class="editable"><input type="number" value="0.00" class="text-right" formControlName="north_bound_truck_percent"
          placeholder='0.00' step="0.01">%</td>
      <td class="editable"><input type="number" value="0.00" class="text-right" formControlName="north_bound_growth_factor"
          placeholder='0.00' step="0.01">%</td>
    </tr>
    <tr>
      <td>Adjustment Factor</td>
      <td class="editable"><input type="number" value="0.80"></td>
      <td class="editable"><input type="number" value="0.95"></td>
      <td>-</td>
      <td class="editable"><input type="number" value="0.85"></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Suggested</td>
      <td>0.80</td>
      <td>0.95</td>
      <td>-</td>
      <td>0.85</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td colspan="4">Truck to PCE Factor</td>
      <td colspan="2">Suggested = 2.00</td>
      <td class="editable"><input type="number" value="2.00"></td>
    </tr>
    <tr>
      <td colspan="4">Critical Lane Volume</td>
      <td colspan="3" class="editable"><input type="number" value="1600"></td>
    </tr>
  </table>


  <table>
    <tr>
      <td colspan="5">Equivalent Pasenger Car Volume</td>
    </tr>
    <tr>
      <td rowspan="2"></td>
      <td colspan="4">Volume (Veh/hr)</td>
    </tr>
    <tr>
      <td>U-Turn <br /> <img src="assets/capx/south-u-turn.png" /></td>
      <td>Left <br /> <img src="assets/capx/south-left-turn.png" /></td>
      <td>Thru <br /> <img src="assets/capx/south-thru.png" /></td>
      <td>Right <br /> <img src="assets/capx/south-right-turn.png" /></td>
    </tr>
    <tr>
      <td>Eastbound</td>
      <td>{{(capxStateService.masterParameters$ | async)!.east_bound_u}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.east_bound_left}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.east_bound_thru}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.east_bound_right}}</td>
    </tr>
    <tr>
      <td>Westbound</td>
      <td>{{(capxStateService.masterParameters$ | async)!.west_bound_u}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.west_bound_left}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.west_bound_thru}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.west_bound_right}}</td>
    </tr>
    <tr>
      <td>Southbound</td>
      <td>{{(capxStateService.masterParameters$ | async)!.south_bound_u}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.south_bound_left}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.south_bound_thru}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.south_bound_right}}</td>
    </tr>
    <tr>
      <td>Northbound</td>
      <td>{{(capxStateService.masterParameters$ | async)!.north_bound_u}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.north_bound_left}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.north_bound_thru}}</td>
      <td>{{(capxStateService.masterParameters$ | async)!.north_bound_right}}</td>
    </tr>
  </table>
</div>
