<capx-svg-viewer>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Layer_1" data-name="Layer 1">
      <image width="2232" height="2251" transform="scale(0.29 0.29)" xlink:href="assets/junctions/full-displaced-left-turn-intersection.jpeg"/>
    </g>
    <g id="drawings">
      <circle cx="96.3" cy="312.69" r="12" style="fill: #fcee21"/>
      <line x1="72.04" y1="261.19" x2="97.3" y2="312.69" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
      <circle cx="579.87" cy="347.04" r="12" style="fill: #fcee21"/>
      <line x1="521.04" y1="437.28" x2="579.87" y2="347.04" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
      <circle cx="329.53" cy="327.86" r="12" style="fill: #fcee21"/>
      <line x1="401.04" y1="269.28" x2="329.53" y2="327.86" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
      <circle cx="309.58" cy="578.97" r="12" style="fill: #fcee21"/>
      <line x1="376.04" y1="611.78" x2="310.58" y2="578.97" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
      <circle cx="345.93" cy="83.68" r="12" style="fill: #fcee21"/>
      <line x1="403.04" y1="86.78" x2="345.93" y2="83.68" style="fill: red;stroke: red;stroke-miterlimit: 10;stroke-width: 2px"/>
    </g>
    <g id="dynamic_layer">
      <g id="zone3">
        <rect x="521.04" y="437.28" width="126" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone3_east_clv)"/>
        <text transform="translate(554.44 465.01) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone3_east_clv}}</text>
        <rect x="521.04" y="475.78" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
        <rect x="521.04" y="475.78" width="63" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone3_east_clv)"/>
        <text transform="translate(534.3 501.65) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone3_east_vc}}</text>
        <text transform="translate(593.3 501.85) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
        <text transform="translate(546.06 424.78)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 3</text>
      </g>
      <g id="zone4">
        <rect x="9.04" y="184.19" width="126" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone4_west_clv)"/>
        <text transform="translate(42.44 211.92) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone4_west_clv}}</text>
        <rect x="9.04" y="222.69" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
        <rect x="9.04" y="222.69" width="63" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone4_west_clv)"/>
        <text transform="translate(22.3 248.55) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone4_west_vc}}</text>
        <text transform="translate(81.3 248.76) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
        <text transform="translate(34.06 171.69)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 4</text>
      </g>
      <g id="zone5">
        <rect x="401.04" y="192.28" width="126" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone5_center_clv)"/>
        <text transform="translate(434.44 220.01) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone5_center_clv}}</text>
        <rect x="401.04" y="230.78" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
        <rect x="401.04" y="230.78" width="63" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone5_center_clv)"/>
        <text transform="translate(414.3 256.65) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone5_center_vc}}</text>
        <text transform="translate(473.3 256.85) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
        <text transform="translate(426.06 179.78)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 5</text>
      </g>
      <g id="zone2">
        <rect x="376.04" y="573.28" width="126" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone2_south_clv)"/>
        <text transform="translate(409.44 601.01) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone2_south_clv}}</text>
        <rect x="376.04" y="611.78" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
        <rect x="376.04" y="611.78" width="63" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone2_south_clv)"/>
        <text transform="translate(389.3 637.65) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone2_south_vc}}</text>
        <text transform="translate(448.3 637.85) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
        <text transform="translate(401.06 560.78)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 2</text>
      </g>
      <g id="zone1">
        <rect x="403.04" y="48.28" width="126" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone1_north_clv)"/>
        <text transform="translate(436.44 76.01) scale(1.08 1)" style="font-size: 27px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone1_north_clv}}</text>
        <rect x="403.04" y="86.78" width="126" height="38.5" style="fill: #fff;stroke: #231f20;stroke-miterlimit: 10"/>
        <rect x="403.04" y="86.78" width="63" height="38.5" style="stroke: #231f20;stroke-miterlimit: 10" [attr.fill]="capxStateService.getClvRangeColor((capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone1_north_clv)"/>
        <text transform="translate(416.3 112.65) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">{{(capxStateService.state.get(junctions.FullDisplacedLeftTurnIntersection).intersectionResult | async).zone1_north_vc}}</text>
        <text transform="translate(475.3 112.85) scale(1.08 1)" style="font-size: 19px;fill: #231f20;font-family: OpenSans, Open Sans">V / C</text>
        <text transform="translate(428.06 35.78)" style="font-size: 24px;font-family: OpenSans, Open Sans">Zone 1</text>
      </g>
    </g>
  </svg>
</capx-svg-viewer>

