<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a [routerLink]="['/']" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Capacity Analysis for Planning of
          Junctions</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" class="nav-trigger--bottom">
      <a clrVerticalNavLink [routerLink]="['/inputs']" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        Inputs
      </a>

      <clr-vertical-nav-group routerLinkActive="active">
        Intersections
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink [routerLink]="['/conventional']" routerLinkActive="active">Conventional</a>
          <a clrVerticalNavLink [routerLink]="['/conventional-shared-right-turn-left-turn']"
            routerLinkActive="active">Conventional Shared RT LN</a>
          <a clrVerticalNavLink [routerLink]="['/quadrant-roadway-intersection-south-west']"
            routerLinkActive="active">Quadrant (S-W)</a>
          <a clrVerticalNavLink [routerLink]="['/quadrant-roadway-intersection-north-east']"
            routerLinkActive="active">Quadrant (N-E)</a>
          <a clrVerticalNavLink [routerLink]="['/quadrant-roadway-intersection-south-east']"
            routerLinkActive="active">Quadrant (S-E)</a>
          <a clrVerticalNavLink [routerLink]="['/quadrant-roadway-intersection-north-west']"
            routerLinkActive="active">Quadrant (N-W)</a>
          <a clrVerticalNavLink [routerLink]="['/partial-displaced-left-turn-intersection-north-south']"
            routerLinkActive="active">Partial Displaced Left Turn (N-S)</a>
          <a clrVerticalNavLink [routerLink]="['/partial-displaced-left-turn-intersection-east-west']"
            routerLinkActive="active">Partial Displaced Left Turn (E-W)</a>
          <a clrVerticalNavLink [routerLink]="['/full-displaced-left-turn-intersection']" routerLinkActive="active">Full
            Displaced Left Turn </a>
          <a clrVerticalNavLink [routerLink]="['/restricted-crossing-uturn-intersection-north-south']"
            routerLinkActive="active">Restricted Crossing U-Turn (N-S)</a>
          <a clrVerticalNavLink [routerLink]="['/restricted-crossing-uturn-intersection-east-west']"
            routerLinkActive="active">Restricted Crossing U-Turn (E-W)</a>
          <a clrVerticalNavLink [routerLink]="['/median-uturn-intersection-north-south']"
            routerLinkActive="active">Median U-Turn (N-S)</a>
          <a clrVerticalNavLink [routerLink]="['/median-uturn-intersection-east-west']" routerLinkActive="active">Median
            U-Turn (E-W)</a>
          <a clrVerticalNavLink [routerLink]="['/partial-median-uturn-intersection-north-south']"
            routerLinkActive="active">Partial Median U-Turn (N-S)</a>
          <a clrVerticalNavLink [routerLink]="['/partial-median-uturn-intersection-east-west']"
            routerLinkActive="active">Partial Median U-Turn (E-W)</a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>


      <clr-vertical-nav-group routerLinkActive="active">
        Roundabouts
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink [routerLink]="['/fifty-icdmini-roundabout']" routerLinkActive="active">50' ICD
            Mini-Roundabout</a>
          <a clrVerticalNavLink [routerLink]="['/seventy-five-icdmini-roundabout']" routerLinkActive="active">75'
            ICD Mini-Roundabout</a>
          <a clrVerticalNavLink [routerLink]="['/one-north-southx-one-east-west-roundabout']"
            routerLinkActive="active">1 NS x 1 EW Roundabout</a>
          <a clrVerticalNavLink [routerLink]="['/one-north-southx-two-east-west-lane-roundabout']"
            routerLinkActive="active">1 NS x 2 EW Lane Roundabout</a>
          <a clrVerticalNavLink [routerLink]="['/two-north-southx-one-east-west-lane-roundabout']"
            routerLinkActive="active">2 NS x 1 EW Lane Roundabout</a>
          <a clrVerticalNavLink [routerLink]="['/two-north-southx-two-east-west-lane-roundabout']"
            routerLinkActive="active">2 NS x 2 EW Lane Roundabout</a>
          <a clrVerticalNavLink [routerLink]="['/three-north-southx-three-east-west-lane-roundabout']"
            routerLinkActive="active">3 NS x 3 EW Lane Roundabout</a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <clr-vertical-nav-group routerLinkActive="active">
        Interchanges
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink [routerLink]="['/traditional-diamond-north-south']"
            routerLinkActive="active">Traditional Diamond (N-S)</a>
          <a clrVerticalNavLink [routerLink]="['/traditional-diamond-east-west']" routerLinkActive="active">Traditional
            Diamond (E-W)</a>
          <a clrVerticalNavLink [routerLink]="['/partial-cloverleaf-north-south']" routerLinkActive="active">Partial
            Cloverleaf (N-S)</a>
          <a clrVerticalNavLink [routerLink]="['/partial-cloverleaf-east-west']" routerLinkActive="active">Partial
            Cloverleaf (E-W)</a>
          <a clrVerticalNavLink [routerLink]="['/displaced-left-turn-interchange-north-south']"
            routerLinkActive="active">Displaced Left Turn (N-S)</a>
          <a clrVerticalNavLink [routerLink]="['/displaced-left-turn-interchange-east-west']"
            routerLinkActive="active">Displaced Left Turn (E-W)</a>
          <a clrVerticalNavLink [routerLink]="['/double-crossover-diamond-interchange-north-south']"
            routerLinkActive="active">Double Crossover Diamond (N-S)</a>
          <a clrVerticalNavLink [routerLink]="['/double-crossover-diamond-interchange-east-west']"
            routerLinkActive="active">Double Crossover Diamond (E-W)</a>
          <a clrVerticalNavLink [routerLink]="['/single-point-interchange-north-south']"
            routerLinkActive="active">Single Point (N-S)</a>
          <a clrVerticalNavLink [routerLink]="['/single-point-interchange-east-west']" routerLinkActive="active">Single
            Point (E-W)</a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <a clrVerticalNavLink [routerLink]="['/results']" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
        Results
      </a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink [routerLink]="['/credits']" routerLinkActive="active">Credits</a>
    </clr-vertical-nav>
    <div class="content-area">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
