<capx-junction-analysis-parameters></capx-junction-analysis-parameters>

<capx-junction-analysis-score-results></capx-junction-analysis-score-results>

<capx-conventional-junction></capx-conventional-junction>

<capx-conventional-shared-right-turn-left-turn-junction></capx-conventional-shared-right-turn-left-turn-junction>

<capx-quadrant-roadway-intersection-south-west-junction></capx-quadrant-roadway-intersection-south-west-junction>

<capx-quadrant-roadway-intersection-north-east-junction></capx-quadrant-roadway-intersection-north-east-junction>

<capx-quadrant-roadway-intersection-south-east-junction></capx-quadrant-roadway-intersection-south-east-junction>

<capx-quadrant-roadway-intersection-north-west-junction></capx-quadrant-roadway-intersection-north-west-junction>

<capx-partial-displaced-left-turn-intersection-north-south-junction></capx-partial-displaced-left-turn-intersection-north-south-junction>

<capx-partial-displaced-left-turn-intersection-east-west-junction></capx-partial-displaced-left-turn-intersection-east-west-junction>
<capx-full-displaced-left-turn-intersection-junction></capx-full-displaced-left-turn-intersection-junction>
<capx-restricted-crossing-uturn-intersection-north-south-junction></capx-restricted-crossing-uturn-intersection-north-south-junction>
<capx-restricted-crossing-uturn-intersection-east-west-junction></capx-restricted-crossing-uturn-intersection-east-west-junction>
<capx-median-uturn-intersection-north-south-junction></capx-median-uturn-intersection-north-south-junction>
<capx-median-uturn-intersection-east-west-junction></capx-median-uturn-intersection-east-west-junction>
<capx-partial-median-uturn-intersection-north-south-junction></capx-partial-median-uturn-intersection-north-south-junction>
<capx-partial-median-uturn-intersection-east-west-junction></capx-partial-median-uturn-intersection-east-west-junction>

<capx-fifty-icdmini-roundabout-junction></capx-fifty-icdmini-roundabout-junction>
<capx-seventy-five-icdmini-roundabout-junction></capx-seventy-five-icdmini-roundabout-junction>
<capx-one-north-southx-one-east-west-roundabout-junction></capx-one-north-southx-one-east-west-roundabout-junction>

<capx-one-north-southx-two-east-west-lane-roundabout-junction></capx-one-north-southx-two-east-west-lane-roundabout-junction>
<capx-two-north-southx-one-east-west-lane-roundabout-junction></capx-two-north-southx-one-east-west-lane-roundabout-junction>
<capx-two-north-southx-two-east-west-lane-roundabout-rndabt-junction></capx-two-north-southx-two-east-west-lane-roundabout-rndabt-junction>
<capx-three-north-southx-three-east-west-lane-roundabout-rndabt-junction></capx-three-north-southx-three-east-west-lane-roundabout-rndabt-junction>

<capx-traditional-diamond-north-south-junction></capx-traditional-diamond-north-south-junction>
<capx-traditional-diamond-east-west-junction></capx-traditional-diamond-east-west-junction>
<capx-partial-cloverleaf-north-south-junction></capx-partial-cloverleaf-north-south-junction>
<capx-partial-cloverleaf-east-west-junction></capx-partial-cloverleaf-east-west-junction>
<capx-displaced-left-turn-interchange-north-south-junction></capx-displaced-left-turn-interchange-north-south-junction>
<capx-displaced-left-turn-interchange-east-west-junction></capx-displaced-left-turn-interchange-east-west-junction>
<capx-double-crossover-diamond-interchange-north-south-junction></capx-double-crossover-diamond-interchange-north-south-junction>
<capx-double-crossover-diamond-interchange-east-west-junction></capx-double-crossover-diamond-interchange-east-west-junction>

<capx-single-point-interchange-north-south-junction></capx-single-point-interchange-north-south-junction>
<capx-single-point-interchange-east-west-junction></capx-single-point-interchange-east-west-junction>
